# Data science in Python

- Course GitHub repo: https://github.com/pycam/python-data-science
- Python website: https://www.python.org/ 

## Session 2.1: Working with Pandas

- [Reading CSV Data Using Pandas](#Reading-CSV-Data-Using-Pandas)
- [Exploring our data](#Exploring-our-data)
- [DataFrame manipulation](#DataFrame-manipulation)
- [Exercise 2.1.1](#Exercise-2.1.1)

## Mind map

<img src="img/mind_maps/mind_maps.004.jpeg">

## Reading CSV Data Using Pandas

### Importing the `pandas` package

[`pandas`](http://pandas.pydata.org/) is a widely-used external Python package for data analysis, particularly useful for tabular data (see [documentation](http://pandas.pydata.org/pandas-docs/stable/)).

The `pandas` DataFrame object borrows many features from R's `data.frame`. Both are 2-dimensional tables whose columns can contain different data types (e.g. boolean, integer, float, categorical/factor). Both the rows and columns are indexed, and can be referred to by number or name.

Because `pandas` is an external third-party package, it is not included in Python by default. You can install it using `pip install pandas`, or if using conda, `conda install pandas`. 

Once installed, we load the package with the `import` command:

In [1]:
import pandas

### Reading CSV data

To read a Comma Separated Values (CSV) data file with `pandas`, we use the `.read_csv()` command.

We are going to load a slightly different Gapminder dataset for Oceania, where each column represents the GDP per capita for different years and each row represents a country in Oceania. In this case, our file is in a sub-directory called `data/`, and the name of the file is `gapminder_gdp_oceania.csv`. 

We store the resulting DataFrame object and give it the variable name `data`:

In [2]:
data = pandas.read_csv('data/gapminder_gdp_oceania.csv')
print(data)

       country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0    Australia     10039.59564     10949.64959     12217.22686
1  New Zealand     10556.57566     12247.39532     13175.67800

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0     14526.12465     16788.62948     18334.19751     19477.00928
1     14463.91893     16046.03728     16233.71770     17632.41040

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0     21888.88903     23424.76683     26997.93657     30687.75473
1     19007.19129     18363.32494     21050.41377     23189.80135

   gdpPercap_2007
0     34435.36744
1     25185.00911

If you forget to include `data/`, or if you include it but your copy of the file is saved somewhere else, you will get a runtime error that ends with a line like this:
```
FileNotFoundError: File b'gapminder_gdp_oceania.csv' does not exist
```

Note that `pandas` uses a backslash `\` to show wrapped lines when the output is too wide to fit on the screen. Looking at the index column on the far left, you can see that our DataFrame has two rows (automatically 0 and 1, since Python uses 0-based indexing).

Generally, columns in a DataFrame are the observed variables, and the rows are the observations. 

Instead of treating the `'country'` column like any other observed variable, we can tell `pandas` to use this column as the row index. We can then refer to the rows by country name:

In [3]:
data = pandas.read_csv('data/gapminder_gdp_oceania.csv', index_col='country')
print(data)

             gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
country
Australia       10039.59564     10949.64959     12217.22686     14526.12465
New Zealand     10556.57566     12247.39532     13175.67800     14463.91893

             gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
country
Australia       16788.62948     18334.19751     19477.00928     21888.88903
New Zealand     16046.03728     16233.71770     17632.41040     19007.19129

             gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Australia       23424.76683     26997.93657     30687.75473     34435.36744
New Zealand     18363.32494     21050.41377     23189.80135     25185.00911

Note that the `.read_csv()` command is not limited to reading CSV files. For example, you can read Tab Separated Value (TSV) files by adding the argument `sep='\t'`.

## Exploring our data

A `pandas` DataFrame is a 2-dimensional object that can store columns with different data types (including string, boolean, integer, float, categorical/factor, etc). It is similar to a spreadsheet or an SQL table or the `data.frame` structure in R. 

A DataFrame always has an index (0-based). An index refers to the position of an element in the data structure. Using the `.info()` method, we can view basic information about our DataFrame object:

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gdpPercap_1952  2 non-null      float64
 1   gdpPercap_1957  2 non-null      float64
 2   gdpPercap_1962  2 non-null      float64
 3   gdpPercap_1967  2 non-null      float64
 4   gdpPercap_1972  2 non-null      float64
 5   gdpPercap_1977  2 non-null      float64
 6   gdpPercap_1982  2 non-null      float64
 7   gdpPercap_1987  2 non-null      float64
 8   gdpPercap_1992  2 non-null      float64
 9   gdpPercap_1997  2 non-null      float64
 10  gdpPercap_2002  2 non-null      float64
 11  gdpPercap_2007  2 non-null      float64
dtypes: float64(12)
memory usage: 208.0+ bytes

As expected, our object is a `DataFrame` (or, to use the full name that Python uses to refer to it internally, a `pandas.core.frame.DataFrame`).

It has 2 rows (named Australia and New Zealand) and 12 columns. The columns consist of 64-bit floating point values. It uses about 200 bytes of memory.

As mentioned, a DataFrame is a Python object, which means it can have **object attributes** and **object methods**.

**Object attributes** contain information about the object. You can access [DataFrame attributes](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#attributes) to learn more about the contents of your DataFrame. To do this, use the object variable name followed by the attribute name, separated by a `.`. Do not use any `()` to access attributes. 

For example, let's access our column data types, which are stored in the `.dtypes` attribute:

In [5]:
data.dtypes

gdpPercap_1952    float64
gdpPercap_1957    float64
gdpPercap_1962    float64
gdpPercap_1967    float64
gdpPercap_1972    float64
gdpPercap_1977    float64
gdpPercap_1982    float64
gdpPercap_1987    float64
gdpPercap_1992    float64
gdpPercap_1997    float64
gdpPercap_2002    float64
gdpPercap_2007    float64
dtype: object

You can access the dimensions of your DataFrame using the `.shape` attribute. The first value is the number of rows, and the second the number of columns:

In [6]:
data.shape

(2, 12)

The row and column names can be accessed using the attributes `.index.values` and `.columns.values`:

In [7]:
data.index.values

array(['Australia', 'New Zealand'], dtype=object)

In [8]:
data.columns.values

array(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962',
       'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977',
       'gdpPercap_1982', 'gdpPercap_1987', 'gdpPercap_1992',
       'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'], dtype=object)

**Object methods** are functions that are associated with an object. Because they are functions, you do use `()` to call them, and can add arguments inside the parentheses to control the behaviour of the method. For example, the `.info()` command we executed previously was a method. 

Let's now download the European Gapminder data and explore a few of these (see the [DataFrame API](https://pandas.pydata.org/pandas-docs/stable/reference/index.html) for more).

In [9]:
eu_data = pandas.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
print(eu_data)

                        gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
country
Albania                    1601.056136     1942.284244     2312.888958
Austria                    6137.076492     8842.598030    10750.721110
Belgium                    8343.105127     9714.960623    10991.206760
Bosnia and Herzegovina      973.533195     1353.989176     1709.683679
Bulgaria                   2444.286648     3008.670727     4254.337839
Croatia                    3119.236520     4338.231617     5477.890018
Czech Republic             6876.140250     8256.343918    10136.867130
Denmark                    9692.385245    11099.659350    13583.313510
Finland                    6424.519071     7545.415386     9371.842561
France                     7029.809327     8662.834898    10560.485530
Germany                    7144.114393    10187.826650    12902.462910
Greece                     3530.690067     4916.299889     6017.190733
Hungary                    5263.673816     6040.180011     7550.359877
Iceland                    7267.688428     9244.001412    10350.159060
Ireland                    5210.280328     5599.077872     6631.597314
Italy                      4931.404155     6248.656232     8243.582340
Montenegro                 2647.585601     3682.259903     4649.593785
Netherlands                8941.571858    11276.193440    12790.849560
Norway                    10095.421720    11653.973040    13450.401510
Poland                     4029.329699     4734.253019     5338.752143
Portugal                   3068.319867     3774.571743     4727.954889
Romania                    3144.613186     3943.370225     4734.997586
Serbia                     3581.459448     4981.090891     6289.629157
Slovak Republic            5074.659104     6093.262980     7481.107598
Slovenia                   4215.041741     5862.276629     7402.303395
Spain                      3834.034742     4564.802410     5693.843879
Sweden                     8527.844662     9911.878226    12329.441920
Switzerland               14734.232750    17909.489730    20431.092700
Turkey                     1969.100980     2218.754257     2322.869908
United Kingdom             9979.508487    11283.177950    12477.177070

                        gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  \
country
Albania                    2760.196931     3313.422188     3533.003910
Austria                   12834.602400    16661.625600    19749.422300
Belgium                   13149.041190    16672.143560    19117.974480
Bosnia and Herzegovina     2172.352423     2860.169750     3528.481305
Bulgaria                   5577.002800     6597.494398     7612.240438
Croatia                    6960.297861     9164.090127    11305.385170
Czech Republic            11399.444890    13108.453600    14800.160620
Denmark                   15937.211230    18866.207210    20422.901500
Finland                   10921.636260    14358.875900    15605.422830
France                    12999.917660    16107.191710    18292.635140
Germany                   14745.625610    18016.180270    20512.921230
Greece                     8513.097016    12724.829570    14195.524280
Hungary                    9326.644670    10168.656110    11674.837370
Iceland                   13319.895680    15798.063620    19654.962470
Ireland                    7655.568963     9530.772896    11150.981130
Italy                     10022.401310    12269.273780    14255.984750
Montenegro                 5907.850937     7778.414017     9595.929905
Netherlands               15363.251360    18794.745670    21209.059200
Norway                    16361.876470    18965.055510    23311.349390
Poland                     6557.152776     8006.506993     9508.141454
Portugal                   6361.517993     9022.247417    10172.485720
Romania                    6470.866545     8011.414402     9356.397240
Serbia                     7991.707066    10522.067490    12980.669560
Slovak Republic            8412.902397     9674.167626    10922.664040
Slovenia                   9405.489397    12383.486200    15277.030170
Spain                      7993.512294    10638.751310    13236.921170
Sweden                    15258.296970    17832.024640    18855.725210
Switzerland               22966.144320    27195.113040    26982.290520
Turkey                     2826.356387     3450.696380     4269.122326
United Kingdom            14142.850890    15895.116410    17428.748460

                        gdpPercap_1982  gdpPercap_1987  gdpPercap_1992  \
country
Albania                    3630.880722     3738.932735     2497.437901
Austria                   21597.083620    23687.826070    27042.018680
Belgium                   20979.845890    22525.563080    25575.570690
Bosnia and Herzegovina     4126.613157     4314.114757     2546.781445
Bulgaria                   8224.191647     8239.854824     6302.623438
Croatia                   13221.821840    13822.583940     8447.794873
Czech Republic            15377.228550    16310.443400    14297.021220
Denmark                   21688.040480    25116.175810    26406.739850
Finland                   18533.157610    21141.012230    20647.164990
France                    20293.897460    22066.442140    24703.796150
Germany                   22031.532740    24639.185660    26505.303170
Greece                    15268.420890    16120.528390    17541.496340
Hungary                   12545.990660    12986.479980    10535.628550
Iceland                   23269.607500    26923.206280    25144.392010
Ireland                   12618.321410    13872.866520    17558.815550
Italy                     16537.483500    19207.234820    22013.644860
Montenegro                11222.587620    11732.510170     7003.339037
Netherlands               21399.460460    23651.323610    26790.949610
Norway                    26298.635310    31540.974800    33965.661150
Poland                     8451.531004     9082.351172     7738.881247
Portugal                  11753.842910    13039.308760    16207.266630
Romania                    9605.314053     9696.273295     6598.409903
Serbia                    15181.092700    15870.878510     9325.068238
Slovak Republic           11348.545850    12037.267580     9498.467723
Slovenia                  17866.721750    18678.534920    14214.716810
Spain                     13926.169970    15764.983130    18603.064520
Sweden                    20667.381250    23586.929270    23880.016830
Switzerland               28397.715120    30281.704590    31871.530300
Turkey                     4241.356344     5089.043686     5678.348271
United Kingdom            18232.424520    21664.787670    22705.092540

                        gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Albania                    3193.054604     4604.211737     5937.029526
Austria                   29095.920660    32417.607690    36126.492700
Belgium                   27561.196630    30485.883750    33692.605080
Bosnia and Herzegovina     4766.355904     6018.975239     7446.298803
Bulgaria                   5970.388760     7696.777725    10680.792820
Croatia                    9875.604515    11628.388950    14619.222720
Czech Republic            16048.514240    17596.210220    22833.308510
Denmark                   29804.345670    32166.500060    35278.418740
Finland                   23723.950200    28204.590570    33207.084400
France                    25889.784870    28926.032340    30470.016700
Germany                   27788.884160    30035.801980    32170.374420
Greece                    18747.698140    22514.254800    27538.411880
Hungary                   11712.776800    14843.935560    18008.944440
Iceland                   28061.099660    31163.201960    36180.789190
Ireland                   24521.947130    34077.049390    40675.996350
Italy                     24675.024460    27968.098170    28569.719700
Montenegro                 6465.613349     6557.194282     9253.896111
Netherlands               30246.130630    33724.757780    36797.933320
Norway                    41283.164330    44683.975250    49357.190170
Poland                    10159.583680    12002.239080    15389.924680
Portugal                  17641.031560    19970.907870    20509.647770
Romania                    7346.547557     7885.360081    10808.475610
Serbia                     7914.320304     7236.075251     9786.534714
Slovak Republic           12126.230650    13638.778370    18678.314350
Slovenia                  17161.107350    20660.019360    25768.257590
Spain                     20445.298960    24835.471660    28821.063700
Sweden                    25266.594990    29341.630930    33859.748350
Switzerland               32135.323010    34480.957710    37506.419070
Turkey                     6601.429915     6508.085718     8458.276384
United Kingdom            26074.531360    29478.999190    33203.261280

In [10]:
eu_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, Albania to United Kingdom
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gdpPercap_1952  30 non-null     float64
 1   gdpPercap_1957  30 non-null     float64
 2   gdpPercap_1962  30 non-null     float64
 3   gdpPercap_1967  30 non-null     float64
 4   gdpPercap_1972  30 non-null     float64
 5   gdpPercap_1977  30 non-null     float64
 6   gdpPercap_1982  30 non-null     float64
 7   gdpPercap_1987  30 non-null     float64
 8   gdpPercap_1992  30 non-null     float64
 9   gdpPercap_1997  30 non-null     float64
 10  gdpPercap_2002  30 non-null     float64
 11  gdpPercap_2007  30 non-null     float64
dtypes: float64(12)
memory usage: 3.0+ KB

The `.head()` method prints the first few rows of the table, while the `.tail()` method prints the last few lines:

In [11]:
eu_data.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

In [12]:
eu_data.head(3)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.00391,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.42230,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.97448,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080

In [13]:
eu_data.tail(2)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Turkey,1969.100980,2218.754257,2322.869908,2826.356387,3450.69638,4269.122326,4241.356344,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
United Kingdom,9979.508487,11283.177950,12477.177070,14142.850890,15895.11641,17428.748460,18232.424520,21664.787670,22705.092540,26074.531360,29478.999190,33203.261280

The `.describe` method computes some summary statistics for the columns (including the count, mean, median, and std):

In [14]:
eu_data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,5661.057435,6963.012816,8365.486814,10143.823757,12479.575246,14283.979110,15617.896551,17214.310727,17061.568084,19076.781802,21711.732422,25054.481636
std,3114.060493,3677.950146,4199.193906,4724.983889,5509.691411,5874.464896,6453.234827,7482.957960,9109.804361,10065.457716,11197.355517,11800.339811
min,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
25%,3241.132406,4394.874315,5373.536612,6657.939047,9057.708095,10360.030300,11449.870115,12274.570680,8667.113214,9946.599306,11721.851483,14811.898210
50%,5142.469716,6066.721495,7515.733738,9366.067033,12326.379990,14225.754515,15322.824720,16215.485895,17550.155945,19596.498550,23674.863230,28054.065790
75%,7236.794919,9597.220820,10931.085347,13277.182057,16523.017127,19052.412163,20901.729730,23321.587723,25034.243045,27189.530312,30373.363307,33817.962533
max,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,31540.974800,33965.661150,41283.164330,44683.975250,49357.190170

We often want to calculate summary statistics grouped by subsets or attributes within fields of our data. For example, we might want to calculate the average GDP per capita for 1962.

There are two ways to access columns in a DataFrame. The first is using a `.` followed by the name of the column, while the second is using square brackets:

In [15]:
eu_data.gdpPercap_1962.head()

country
Albania                    2312.888958
Austria                   10750.721110
Belgium                   10991.206760
Bosnia and Herzegovina     1709.683679
Bulgaria                   4254.337839
Name: gdpPercap_1962, dtype: float64

In [16]:
eu_data['gdpPercap_1962'].head()

country
Albania                    2312.888958
Austria                   10750.721110
Belgium                   10991.206760
Bosnia and Herzegovina     1709.683679
Bulgaria                   4254.337839
Name: gdpPercap_1962, dtype: float64

We can also compute metrics on specific columns:

In [17]:
eu_data['gdpPercap_1962'].mean()

8365.4868143

In [18]:
eu_data['gdpPercap_1962'].std()

4199.193906418378

Note: these statistics can only be computed on numeric columns. They can be particularly useful when your DataFrame contains thousands of entries.

## DataFrame manipulation

### Pandas Cheat Sheet

The [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) can be very helpful for recalling basic `pandas` operations. 

Let's start by creating a small DataFrame object and storing it using the variable name `df`. One way to do this is from a Python dictionary:

In [19]:
import pandas
df = pandas.DataFrame({'gene': ['BRCA2', 'TNFAIP3', 'TCF7'], 
                       'chrom': ['13', '6', '5'],
                       'length': [84195, 16099, 37155]}
)
print(df)

      gene chrom  length
0    BRCA2    13   84195
1  TNFAIP3     6   16099
2     TCF7     5   37155

### Selecting columns and rows
To select rows and columns in `pandas`, we use square brackets `[]`. There are several ways to select or "slice" a DataFrame objects. It's important to distinguish between **positional indexing**, which uses index numbers, and **label-based indexing** which uses column or row names.

Let's start by selecting one column, using its name:

In [20]:
df['length']

0    84195
1    16099
2    37155
Name: length, dtype: int64

Now we select the first two rows using their numeric index:

In [21]:
df[:2]

      gene chrom  length
0    BRCA2    13   84195
1  TNFAIP3     6   16099

We can combine these to get the first 2 rows of the column `'length'`:

In [22]:
df[:2]['length']

0    84195
1    16099
Name: length, dtype: int64

To do **positional indexing** for both rows and columns, use `.iloc[]`. The first argument is the numeric index of the rows, and the second the numeric index of the columns:

In [23]:
df.iloc[:2]

      gene chrom  length
0    BRCA2    13   84195
1  TNFAIP3     6   16099

In [24]:
df.iloc[:2,2]

0    84195
1    16099
Name: length, dtype: int64

We can also select the first 2 rows, and all of the columns from index 1 until the end, as follows:

In [25]:
df.iloc[:2,1:]

  chrom  length
0    13   84195
1     6   16099

For **label-based indexing**, use `.loc[]` with the column and row names:

In [26]:
df.loc[:1,'chrom':]

  chrom  length
0    13   84195
1     6   16099

Note: because the rows have numeric indices in this DataFrame, we might assume that selecting rows with `.iloc[]` and `.loc[]` would be the same. As we see below, this is not the case.

### Sorting columns
To sort the entire DataFrame according to one of the columns, we can use the `.sort_values()` method. Note that this method returns a DataFrame object, so we need to store that object using a new variable name such as `sorted_df`:

In [27]:
sorted_df = df.sort_values('length')
print(sorted_df)

      gene chrom  length
1  TNFAIP3     6   16099
2     TCF7     5   37155
0    BRCA2    13   84195

Going back to positional versus label-based indexing, we see that `.iloc[0]` will return the first row in the DataFrame, while `.loc[0]` will return the row with index 0:

In [28]:
#since the dataframe is sorted, then the first row is not equivalent to the row in position index 0
sorted_df.iloc[0]

gene      TNFAIP3
chrom           6
length      16099
Name: 1, dtype: object

In [29]:
#loc[] will always show the rows according to the index positioning
sorted_df.loc[0]

gene      BRCA2
chrom        13
length    84195
Name: 0, dtype: object

We can also sort the DataFrame in descending order:

In [30]:
sorted_df = df.sort_values('length', ascending=False)
print(sorted_df)

      gene chrom  length
0    BRCA2    13   84195
2     TCF7     5   37155
1  TNFAIP3     6   16099

If you would like to reset the row indices after sorting, use `.reset_index()` and store the result in a new variable. Adding the argument `drop=True` will prevent `pandas` from adding the old index as a column:

In [31]:
sorted_df_reindexed = sorted_df.reset_index(drop=True)
print(sorted_df_reindexed)

      gene chrom  length
0    BRCA2    13   84195
1     TCF7     5   37155
2  TNFAIP3     6   16099

## Exercise 2.1.1

- Read the data in `gapminder_gdp_americas.csv` (which should be in the same directory as `gapminder_gdp_oceania.csv`) into a variable called `americas_data` and display its summary statistics.
- As well as the `.read_csv()` function for reading data from a file, Pandas provides a `.to_csv()` function to write DataFrames to files. Applying what you’ve learned about reading from files, write one of your DataFrame to a file called `processed.csv`. You can use help to get information on how to use `.to_csv()`.

In [41]:
americas_data = pandas.read_csv('data/gapminder_gdp_americas.csv')

americas_data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,4079.062552,4616.043733,4901.541870,5668.253496,6491.334139,7352.007126,7506.737088,7793.400261,8044.934406,8889.300863,9287.677107,11003.031625
std,3001.727522,3312.381083,3421.740569,4160.885560,4754.404329,5355.602518,5530.490471,6665.039509,7047.089191,7874.225145,8895.817785,9713.209302
min,1397.717137,1544.402995,1662.137359,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
25%,2428.237769,2487.365989,2750.364446,3242.531147,4031.408271,4756.763836,4258.503604,4140.442097,4439.450840,4684.313807,4858.347495,5728.353514
50%,3048.302900,3780.546651,4086.114078,4643.393534,5305.445256,6281.290855,6434.501797,6360.943444,6618.743050,7113.692252,6994.774861,8948.102923
75%,3939.978789,4756.525781,5180.755910,5788.093330,6809.406690,7674.929108,8997.897412,7807.095818,8137.004775,9767.297530,8797.640716,11977.574960
max,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090

In [44]:
help(americas_data.to_csv)

Help on method to_csv in module pandas.core.generic:

to_csv(path_or_buf:Union[str, pathlib.Path, IO[~AnyStr], NoneType]=None, sep:str=',', na_rep:str='', float_format:Union[str, NoneType]=None, columns:Union[Sequence[collections.abc.Hashable], NoneType]=None, header:Union[bool, List[str]]=True, index:bool=True, index_label:Union[bool, str, Sequence[collections.abc.Hashable], NoneType]=None, mode:str='w', encoding:Union[str, NoneType]=None, compression:Union[str, Mapping[str, str], NoneType]='infer', quoting:Union[int, NoneType]=None, quotechar:str='"', line_terminator:Union[str, NoneType]=None, chunksize:Union[int, NoneType]=None, date_format:Union[str, NoneType]=None, doublequote:bool=True, escapechar:Union[str, NoneType]=None, decimal:Union[str, NoneType]='.') -> Union[str, NoneType] method of pandas.core.frame.DataFrame instance
    Write object to a comma-separated values (csv) file.

    .. versionchanged:: 0.24.0
        The order of arguments for Series was changed.

    Parameters
    ----------
    path_or_buf : str or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.  If a file object is passed it should be opened with
        `newline=''`, disabling universal newlines.

        .. versionchanged:: 0.24.0

           Was previously named "path" for Series.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, default None
        Format string for floating point numbers.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.

        .. versionchanged:: 0.24.0

           Previously defaulted to False for Series.

    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str
        Python write mode, default 'w'.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'.
    compression : str or dict, default 'infer'
        If str, represents compression mode. If dict, value at 'method' is
        the compression mode. Compression mode may be any of the following
        possible values: {'infer', 'gzip', 'bz2', 'zip', 'xz', None}. If
        compression mode is 'infer' and `path_or_buf` is path-like, then
        detect compression mode from the following extensions: '.gz',
        '.bz2', '.zip' or '.xz'. (otherwise no compression). If dict given
        and mode is 'zip' or inferred as 'zip', other entries passed as
        additional compression options.

        .. versionchanged:: 1.0.0

           May now be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    line_terminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\n' for linux, '\r\n' for Windows, i.e.).

        .. versionchanged:: 0.24.0
    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

    Create 'out.zip' containing 'out.csv'

    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP

In [45]:
americas_data.to_csv('processed.csv')
#this can be opened in the github page because now this new file has been saved there

## Manipulating data with Pandas (live coding session)

Let's now open a new Jupyter notebook, and explore another dataset `GRCm38.gff3` from the `data/` folder.

[GFF is a standard file format](http://gmod.org/wiki/GFF3) for storing genomic features in a text file. GFF stands for Generic Feature Format. GFF files are plain text, 9 column, tab-delimited files. 

The 9 columns of the annotation section are as follows:

- Column 1: "seqid" - The ID of the landmark used to establish the coordinate system for the current feature, a.k.a. chromosome name.
- Column 2: "source" - The algorithm or operating procedure that generated the feature. 
- Column 3: "type" - The type of feature.
- Columns 4 & 5: "start" and "end" - The start and end of the feature.
- Column 6: "score" - The score of the feature, a floating point number.
- Column 7: "strand" - The strand of the feature.
- Column 8: "phase" - For features of type "CDS", the phase indicates where the feature begins with reference to the reading frame. 
- Column 9: "attributes" - A list of feature attributes in the format tag=value. 

We have modified these files and added a 10th column "gbid" which is the GenBank ID of each feature, and taken a random subset of these features for each species.

## Excercise 2.1.2

- Extract the features of type 'mRNA' and length > 500
- Sort these features by length and save the resulting data frame in a CSV file named 'long_mouse_mRNA_data.csv'

In [74]:
import pandas as pd
#this time the file is separated by tabs
mouse_data = pandas.read_csv('data/GRCm38.gff3', sep='\t')
mouse_data.head()
#calculate the size of the genes
mouse_data['len'] = mouse_data.end - mouse_data.start + 1
mouse_data.head()
#select only exons and of size bigger than 500bp
long_mouse_mRNA = mouse_data[(mouse_data.type=='mRNA') & (mouse_data.len > 500)]
long_mouse_mRNA.head()
#sanity checks
long_mouse_mRNA.type.unique()
long_mouse_mRNA.len.min()
long_mouse_mRNA['len']
#sort featrues by length
sorted_long_mouse_mRNA = long_mouse_mRNA.sort_values('len',ascending=False)
sorted_long_mouse_mRNA.head()
#reset index first to make it tidy
sorted_long_mouse_mRNA.reset_index(drop=True)
sorted_long_mouse_mRNA.head()
#write result to a csv file
sorted_long_mouse_mRNA.to_csv('long_mouse_mRNA_data.csv')

## Next session

Go to our next notebook: [Session 2.2: Data visualisation with Matplotlib](22_python_data.ipynb)